@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat|PT+Sans|Pacifico|Roboto|Source+Sans+Pro');
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;


 body,h1, h2, h3, h4, div, button {
    font-family: Montserrat;

}

.navbar {
    z-index: 1;
}

#surveyappbody
{
 background-color:whitesmoke;
}
#row{
  text-align: center;
  margin-top: 50px;
	margin-bottom: 100px;
}
#backImg{
  margin-top: 20px;
  height: 15%;
  width: 100%;
}

 #header{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;

	background-color:whitesmoke;
	color :black;
}

.star-rating{
  margin-bottom: 5px;

}

.star-rating span{
  font-size:20px;
}


.panel-heading{
  text-align: center;
  margin-top: 5px;
	margin-bottom: 5px;
  min-height: 40px;
  max-height: 180px;
  background-color:whitesmoke;

}





li {
    margin: 1px;

    padding:2px;
    vertical-align:middle;
}

li span {
  color: gray;
  font-size: 1.1em;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;

}

.myClass {

    color: goldenrod;

}
input[type="text"] {
    /*width: 32px;*/
    margin-right: 5px;
    border: 1px solid lightgay;
    color: blue;
    text-align: center;
}


.accordian-arrow
{
color: black;
background-color:white;
}








